body {
  margin:0;
  font-family: sans-serif;
  min-height: 80vh;
  flex-flow: column;
  overflow: hidden;
  touch-action: none;
}
section {
  position: absolute;
  display: none;
  top: calc(100vh);
  padding: 0 1rem;
}

img {
  max-width: 100%;
  heigth: auto;
}
body h2 a {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
}
svg {
  transform: scale(1.05)
}
hr {
  border: 0;
}
.prompt {
  transition: all .6s ease-in-out;
}
label[for="info-checkbox"] {
  position: fixed;
  z-index: 20;
  top: 5%;
  right: 5%;
  cursor: pointer
}
#info-checkbox {
  display: none;
}
.info-overlay {
  /* display: none; */
  position: absolute;
  z-index: 15;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,0.8);
  padding: 5%;
  opacity: 0;
  transition: all 200ms ease-in-out;
  pointer-events: none;
}
.info-overlay ul {
  list-style: none;
}
a {
  color: slateblue;
  text-decoration: none;
  font-weight: bold;
}
#info-checkbox:checked + .info-overlay {
  opacity: 1;
  pointer-events: auto;
}
.eightball {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: black;
  background-image: radial-gradient(circle at center, #222, #222 30%, black 31%);
  transition: all 64ms ease-in-out;
  background-position: -10px -256px;
  background-size: 170%;
  background-repeat: no-repeat;
  clip-path: circle();
}
.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
}
.center {
  text-align: center;
}

#numbereight {
  width: 120px;
  height: 120px;
  background-color: white;
  font-size: 50px;
  font-weight: bold;
  transition: all .6s ease-in-out;
  position: absolute;
  z-index: 1;
}
#numbereight.inactive {
  transform: translateY(-200px) rotateX(90deg);
  /* display: none; */
}
#answer {
  transition: all .6s ease-in-out;
  transition-delay: 160ms;
  opacity: 0;
  z-index: 0;
  
  transform: translateY(200px) rotateX(-90deg);

  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #111;
  border: 1px solid #1c1c1c;
  color: white;
  overflow: hidden;
}
#answer.active {
  /* transform: translateY(40px) rotateX(-90deg); */
  transform: none;
  opacity: 1
}
#answerText {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 40px;
  width: 73px;
  transform: translateY(-50%);
  /* height: 76px; */
  font-weight: bold;
  text-align: center;
}
#ios-add-to-homescreen-popup {
  display: none;
  position: fixed;
  bottom: 1rem;
  background-color: #eee;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 100%;
}
#ios-add-to-homescreen-popup .close {
  float: right;
}
